<!DOCTYPE html>
<html {{site.language_attributes}}>
<head>
  <meta charset="{{site.charset}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/png" href="{{site.theme.link}}/img/favicon.png">

  {{wp_head}}

</head>

<body class="{{body_class}}">

  {{wp_body_open}}

  <header class="header">
    <div class="container">
      <a href="{{site.url}}">{{site.name}}</a>
      <ul class="main-nav">
      {% for item in wp.menus.main.items %}
        <li class="nav-main-item"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
      {% endfor %}
      </ul>
    </div>
  </header> <!-- header -->

  {% block content %}
  {% endblock %}

  <footer class="footer">
    <div class="container">
      <ul class="main-nav">
      {% for item in wp.menus.footer.items %}
        <li class="nav-main-item"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
      {% endfor %}
      </ul>
    </div>
  </footer> <!-- footer -->

  {{wp_footer}}

  <!-- Google Analytics -->

</body>
</html>
