<!DOCTYPE html>
<html {{site.language_attributes}}>
<head>
  <meta charset="{{site.charset}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{site.theme.link}}/css/main.css">

  {{wp_head}}

</head>

<body class="{{body_class}}">
  <header class="header">
    <div class="wrapper">
      <a href="{{site.url}}">{{site.name}}</a>
      <ul class="main-nav">
      {% for item in main_menu.get_items %}
        <li class="nav-main-item"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
      {% endfor %}
      </ul>
    </div>
  </header> <!-- header -->

  {% block content %}
  {% endblock %}

  <footer class="footer">
    <div class="wrapper">
      <ul class="main-nav">
      {% for item in footer_menu.get_items %}
        <li class="nav-main-item"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
      {% endfor %}
      </ul>
    </div>
  </footer> <!-- footer -->

  {{wp_footer}}

  <!-- Google Analytics -->

</body>
</html>
